.xypp-forum-quests-adminPage-table {
    max-width: 100%;
    width: 800px;
    text-align: center;
}

.xypp-forum-quests-adminPage-settings {
    max-width: 100%;
    width: 400px;
}

.xypp-forum-quests-adminPage-container {
    padding: 10px;
}

.no-left-pad {
    --left-pad: 0;
}

.flex-row {
    display: flex;
}

.xypp-quests-create-icon-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    i { 
        font-size: x-large;
    }
}